@import 'components/buttons';
@import 'components/cards';
@import 'components/dropdown';
@import 'components/tables';
@import 'components/error-message';
@import 'components/tooltip';

//Global component styles
::ng-deeperror-message{
    position: fixed;
    top: 70px;
    right: 35px;
  }

%card{
box-shadow: $dark-shadow;
background: $card-bg-dark;
border-radius: $radius-8;
padding: 24px;
}