//BUTTON
odix-button button{
  border: none;
  font-size: 14px;
  letter-spacing: .5px;
  padding: 7px 12px 6px 12px;
  border-radius: 8px;
  background-color: transparent;
  color: $primary;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .3s ease;
  &.primary{
    background-color: $primary;
    color: $white-8;
  }
  &.secondary{
    border: solid 1px $primary;
    &:hover{
      background-color: $primary;
      color: $white-8;
    }
  }
  &.tertiary{
    border: solid 1px transparent;
   &:hover{
    border-color: $primary;
   }
  }
  &:hover{
    transform: translateY(-2px);
    box-shadow: $dark-shadow;
  }
}